body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial;
}

.hero{
  background:linear-gradient(#ff2e88,#000);
  text-align:center;
  padding:60px 20px;
}

.btn{
  background:#ff2e88;
  border:none;
  padding:15px 25px;
  border-radius:10px;
  color:#fff;
  font-weight:bold;
  margin-top:15px;
}

.section{
  padding:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}

.grid img{
  width:100%;
  border-radius:10px;
}

.cta{
  text-align:center;
  padding:40px 20px;
}

.cta h2{
  color:#00ff99;
}
