* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: black;
  color: white;
}

/* TOPO */
.hero {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(#ff2d75, black);
}

.hero h1 {
  font-size: 26px;
}

.hero p {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  background: #ff2d75;
  padding: 12px 25px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* GRID DAS IMAGENS */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 15px;
}

.grid img {
  width: 100%;
  border-radius: 12px;
}

/* BOTÃO FIXO */
.cta-fixo {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ff2d75;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
