body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

.hero{
  background:linear-gradient(#ff2e88,#000);
  padding:60px 20px;
}

.hero h1{
  font-size:28px;
}

.btn{
  display:inline-block;
  margin-top:15px;
  background:#ff2e88;
  padding:15px 25px;
  border-radius:10px;
  color:#fff;
  text-decoration:none;
  font-weight:bold;
}

.banner img{
  width:100%;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  padding:15px;
}

.grid img{
  width:100%;
  border-radius:10px;
}

.cta{
  padding:30px 20px;
  color:#00ff99;
}
